<!DOCTYPE html>
<html lang="en">

<head>
    {{>headers}}
    <link rel="stylesheet" href="../js/image.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <img src="../image/robot.png"></img>
    <p>Magna cubilia proin pede porttitor tortor. Hendrerit! Egestas massa a repudiandae integer. Possimus quaerat saepe, repellat ipsum doloremque! Pulvinar, quisque, ullam? Ullamcorper orci et cupiditate doloribus, ab per. Rem tempus, minima, nostrud convallis possimus leo diam dis debitis, sem non! Egestas, sed! Felis commodi, maecenas similique. Quas reprehenderit voluptatibus per, cillum per. Occaecat laboriosam, porro? Irure. Tellus cursus amet facere eu veritatis urna elementum, saepe, rem consequuntur occaecat ultrices repellendus! Elit totam, senectus modi est, dignissim felis, porttitor conubia mollis atque explicabo suscipit morbi occaecat dolores aut necessitatibus imperdiet ratione non. Porro, quis iste. Deserunt quibusdam suscipit at inceptos. Sollicitudin.</p>
    <h2>--{{creator}}</h2>
</body>
<footer>{{>footer}}</footer>

</html>