<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sample Index Page</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="../js/dummy.js"></script>
    <script src="../js/map-index.js"></script>
</head>

<body class="view-body">
    {{>headers}}
    <div id="googleMap" style="width:50%;height:400px;margin:100px"></div>
    <p style="color: white">Click the button to get your coordinates.</p>

    <button onclick="getLocation()">Try Me</button>

    <p id="demo"></p>
    <script
       ></script>
    <h2>Created By {{createdBy}}</h2>

</body>
<footer>{{>footer}}</footer>

</html>