<!DOCTYPE html>
<html lang="en">

<head>
    <title>Search Weather</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <div class="main-content">
        {{>headers}}
        <form class="search-form">
            <input type="text">
            <button type="submit">Find Weather</button>
        </form>
        <p id="message"></p>
    </div>
    {{>footer}}
    <script src="../js/client-app.js"></script>
</body>

</html>